    <h1>Добави урок</h1>
    <div class="inside clearfix">
        <form>
            <div class="input-holder">
                <input type="text" name="text" class="input active-placeholder" required/>

                <div class="placeholder">Заглавие</div>
                <div class="err">Въведи заглавие</div>
            </div>
            <div text-angular class="text-angular" ></div>
            <!-- <div text-angular class="text-angular" ta-paste="stripStyle()" ></div> -->
                
            <button type="submit" class="btn">Качи урок</button>
        </form>
    </div>