<h1>Уроци по ИТ и Информатика</h1>
		<section class="lesson-class clearfix">
			<h2>5 клас</h2>
			<ul>
				<li><a href="#" class="others-color">Компютърни система и ИТ</a></li>
				<li><a href="#" class="others-color">Работа със звукова и видео информация</a></li>
				<li><a href="#" class="powerpoint-color">Компютърна презентация</a></li>
			</ul>
			<ul>
				<li><a href="#" class="others-color">Организация на данните и носители на информация</a></li>
				<li><a href="#" class="word-color">Компютърна обработка на текстове</a></li>
				<li><a href="#" class="html-color">Интернет</a></li>
			</ul>
			<ul>
				<li><a href="#" class="ps-color">Създаване и обработка на графично изображение</a></li>
				<li><a href="#" class="coreldraw-color">Електронни таблици</a></li>
			</ul>
		</section>
		<section class="lesson-class clearfix">
			<h2>6 клас</h2>
			<ul>
				<li><a href="#" class="others-color">Операционна система и носители на информация</a></li>
				<li><a href="#" class="coreldraw-color">Електронни таблици</a></li>
				<li><a href="#" class="others-color">Интегриране на дейности</a></li>
			</ul>
			<ul>
				<li><a href="#" class="word-color">Компютърна обработка на текстове</a></li>
				<li><a href="#" class="powerpoint-color">Компютърна презентация</a></li>
			</ul>
			<ul>
				<li><a href="#" class="ps-color">Работа с графични изображения</a></li>
				<li><a href="#" class="html-color">Интернет</a></li>
			</ul>
		</section>
		<section class="lesson-class clearfix">
			<h2>7 клас</h2>
			<ul>
				<li><a href="#" class="others-color">Компютърна система</a></li>
				<li><a href="#" class="word-color">Компютърна текстообработка</a></li>
				<li><a href="#" class="others-color">Работа по проект</a></li>
			</ul>
			<ul>
				<li><a href="#" class="others-color">Защита на данните в компютърната система</a></li>
				<li><a href="#" class="powerpoint-color">Компютърна презентация</a></li>
			</ul>
			<ul>
				<li><a href="#" class="excel-color">Електронни таблици</a></li>
				<li><a href="#" class="html-color">Интернет</a></li>
			</ul>
		</section>
		<section class="lesson-class clearfix">
			<h2>8 клас</h2>
			<ul>
				<li><a href="#" class="others-color">Архивиране на данни</a></li>
				<li><a href="#" class="others-color">Компютърни мрежи</a></li>
			</ul>
			<ul>
				<li><a href="#" class="others-color">Компютърни системи</a></li>
				<li><a href="#" class="html-color">Създаване и публикуване на интернет страници</a></li>
			</ul>
			<ul>
				<li><a href="#" class="others-color">Операционна система</a></li>
				<li><a href="#" class="others-color">Работа по проекти</a></li>
			</ul>
		</section>
		<section class="lesson-class clearfix">
			<h2>9 клас</h2>
			<ul>
				<li><a href="#" class="others-color">Информационни технологии и компютърни системи</a></li>
				<li><a href="#" class="excel-color">Електронни таблици</a></li>
			</ul>
			<ul>
				<li><a href="#" class="word-color">Текстообработка</a></li>
				<li><a href="#" class="others-color">Интегриране</a></li>
			</ul>
			<ul>
				<li><a href="#" class="ps-color">Компютърна графика</a></li>
			</ul>
		</section>
		<section class="lesson-class clearfix">
			<h2>10 клас</h2>
			<ul>
				<li><a href="#" class="access-color">Бази от данни</a></li>
				<li><a href="#" class="others-color">Интегриране на дейности</a></li>
			</ul>
			<ul>
				<li><a href="#" class="powerpoint-color">Компютърна презентация</a></li>
			</ul>
			<ul>
				<li><a href="#" class="others-color">Компютърни мрежи </a></li>
			</ul>
		</section>
		<section class="lesson-class clearfix">
			<h2>Информатика</h2>
			<ul>
				<li><a href="#" class="others-color">Увод в информатиката</a></li>
				<li><a href="#" class="others-color">Алгоритми</a></li>
				<li><a href="#" class="others-color">Структури данни</a></li>
				<li><a href="#" class="others-color">Програмиране</a></li>
				<li><a href="#" class="others-color">DOS</a></li>
			</ul>
			<ul>
				<li class="cpp-color">C++</a></li>
			</ul>
			<ul>
				<li><a href="#" class="others-color">C#</a></li>
			</ul>
		</section>