<div class="small-box clearfix">
    <a href="#" class="btn fb">Влез в профила си чрез <b>Facebook</b></a>

    <h2>или</h2>

    <form role="form" ng-submit="signin()" class="clearfix">

        <div class="input-holder">
            <input type="email" ng-model="email" name="email" class="input"/>

            <div class="placeholder">E-mail</div>
        </div>
        <div class="input-holder">
            <input type="password" ng-model="password" name="password" class="input"/>

            <div class="placeholder">Парола</div>
        </div>
        <button type="submit" class="btn">Влез</button>
    </form>
    <a href="/" class="return db">Върни се назад</a>
</div>